* {
  padding: 0;
  margin: 0;
}

.my-profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.my-profile-info {
  margin: 40px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.my-profile-text-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
